<p></p>
<b class="title">SpaceX Launch Programs</b>
<div class='row'>
  <div class='col-md-2 col-12'>
    <mat-card>
      <mat-card-title>Filters</mat-card-title>
      <mat-card-subtitle>Launch Year</mat-card-subtitle>

      <mat-chip-list class="mat-chip-list" aria-label="Color selection">
        <mat-chip *ngFor="let years of availableYears" (click)="filterDataByYear(years)">
          {{years}}
        </mat-chip>
      </mat-chip-list>

      <mat-card-subtitle>Successful Launch</mat-card-subtitle>
      <mat-chip-list class="mat-chip-list" aria-label="Color selection">
        <mat-chip (click)="filterDataByLaunch(true)">
          True
        </mat-chip>
        <mat-chip (click)="filterDataByLaunch(false)">
          False
        </mat-chip>
      </mat-chip-list>

      <mat-card-subtitle>Successful Landing</mat-card-subtitle>
      <mat-chip-list class="mat-chip-list" aria-label="Color selection">
        <mat-chip (click)="filterDataByLanding(false)">
          True
        </mat-chip>
        <mat-chip (click)="filterDataByLanding(false)">
          False
        </mat-chip>
      </mat-chip-list>

    </mat-card>
  </div>
  <div class="col-md-10 col-12">
    <div class="row">
      <mat-card *ngFor="let d of data" class="col-md-2  col-12 card">
        <!-- <div style="
    padding: 10px;"></div> -->
        <img mat-card-image [src]="d.links.mission_patch" alt="spacex launch pic">
        <mat-card-content>
          <h5>{{d.mission_name}}#{{d.flight_number}}</h5>
          <h4>Mission Ids</h4>
          <span class="heading"><b>Launch Year:</b></span>
          <span>{{d.launch_year}}</span>
          <span class="heading"><b>Successful Launch:</b></span><span>{{d.launch_success}}</span>
          <span class="heading"><b>Successful Landing:</b></span><span>{{d.launch_success}}</span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <footer>
    <p><b>Developed by:</b> Arun Kumar</p>
  </footer>